body {
    margin: 0;
    padding: 0;
    background-image: url('Images/throwpillow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    font-size: 16px;
    font-family: 'trebuchet MS', sans-serif;
}

@media screen and (max-width: 800px) {

body {
    background-size: cover;
    background-image: url('Images/harold-mobile.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}

h2#joke-Question, h2#joke-Answer {
    font-size: 2rem;
    margin: 3rem 2rem;
}

p#countdown-timer {
    font-size: 3rem;
}

button#btnRandom {
    bottom: 5rem;
}
}

main {
    text-align: center;
    height: 100%;
}

#btnRandom {
padding: 1rem 2rem;
border-radius: 0.5rem;
font-size: 1.5rem;
position: absolute;
bottom: 6rem;
margin: 0 auto;
left: 0; 
right: 0;
width: 20rem;
}

h2 {
    font-size: 3rem;
    margin: 8rem 3rem;
}

#countdown-timer {
    font-size: 6rem;;
}
